@import '../variables/main';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@include resetStyle;

@media(min-width:300px){
    .iphone-seccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $menu-padding;
        background-image: url('../img/fondo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: soft-light;
        background-color: rgb(85, 84, 84);
        
        
        .imagen{
            position: relative;
            width: 90%;
            left: 5%;
        }
    
        .titulo{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 2rem 2rem;
            justify-content: center;
            text-align: center;
            
            
            h1{
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                font-size: 120px;
                color: #ffffff;
                padding: 1rem 0rem;
                margin-bottom: 1rem;
                
            }
    
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 50px;
                font-weight: 400;
                color: #ffffff;
                padding: 0rem 0rem 3rem 0rem ;
                line-height: 70px;
            }
    
            .boton button:first-child{
                background: 0 0;
                border: 2px solid #11aff1;
                color: #11aff1;
                border-radius: 30px;
                font-size: 60px;
                padding: 12px 40px;
                margin-right: 5px;

                a{
                    color: #11aff1;
                }
            }
    
            .boton button:last-child{
                background: 0 0;
                border: 2px solid #3fb125;
                color: #3fb125;
                border-radius: 30px;
                font-size: 60px;
                padding: 12px 40px;
                margin-left: 5px;
                a{
                    color: #3fb125;
                }
            }
        }
    
        
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0rem 3rem 1rem 3rem;
        align-items: center;
        
        
    
        div:first-child{
            text-align: center;
            padding: 0rem 0rem 2rem 0rem;
            width: 100%;
            
            h1{
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                font-size: 80px;
                padding: 1rem 0rem;
                margin-bottom: 1rem;
                margin-top: 3rem;
    
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 50px;
                font-weight: 400;
                padding: 0rem 4rem 3rem 3rem ;
                text-align: center;
                
            }
    
            button{
                background: 0 0;
                border: 2px solid #11aff1;
                border-radius: 30px;
                font-size: 50px;
                padding: 12px 40px;

                a{
                    color: #11aff1;
                }
                a:hover{
                    color: white;
                }
            }  
            button:hover{
                background-color: #11aff1;;
                
            }
            
        }
        .img{
            width: 70%;
        }
    }
    .icons-seccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: $menu-padding;
    
        div:first-child{
            display: flex;
            flex-direction: column;
            width: 100%;
    
            h1{
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                font-size: 80px;
                color: #212529;
                padding: 1rem 0rem;
                margin-bottom: 2rem;
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 50px;
                font-weight: 400;
                color: #212529;
                text-align: center;
            }
        }
    
        div:last-child{
            display: flex;
            justify-content: center;
            padding: 2rem;
    
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                flex-wrap: wrap;

                li{
                    padding: 2rem;
                    margin-bottom: 0;
                    flex: 0 0 350px;
                    i{
                        font-size: 400px;
                        color: #48D3B0;
                        margin-bottom: 20px;
                    }
                    
                    h3{
                        font-family: 'Roboto', sans-serif;
                        font-size: 40px;
                        line-height: 22px;
                        color: #212529
                    }
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 40px;
                        font-weight: 400;
                        color: #212529;
                        text-align: center;
                        margin-top: 1rem;
                        
                    
                    }
                }
                
            }
            
        }
    }
    .seccion-video{
        padding: $menu-padding;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        text-align: center;
        
        
    
        div:first-child{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 1rem;
            
    
            h1{
                font-family: 'Roboto', sans-serif;
                line-height: 40px;
                font-weight: 100;
                font-size: 80px;
                color: #212529;
                padding: 1rem 0rem;
                margin-bottom: 1rem;
            }
            h3{
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                font-size: 50px;
                color: #212529;
                margin-bottom: 1rem;
                
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 40px;
                font-weight: 400;
                
                color: #212529;
                
                text-align: center;
                
            }   
        }
        .video{
            display: flex;
            justify-content: center;
            width: 100%;
            video{
                border: 2px solid transparent;
                border-radius: 40px;
            }
            
        }
    }

    .seccion-id{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $menu-padding;
    
        .icons{
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            ul{
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                
                padding: 3rem;
                li{
                    display: flex;
                    align-items: center;
    
                    span{
                        font-size: 80px;
                        color: #3fb125;
                        font-weight: 100;
                        padding: 1rem;
                        
                    }
    
    
                    h4{
                        margin: 0 0 6px;
                        color: #2a2e2f;
                        font-weight: 400;
                        font-size: 50px;
                        margin-top: 10px;
                    }
    
                    p{
                        font-size: 30px;
                        font-weight: 400;
                        line-height: 1.8;
                        color: #828c9c;
                    }
    
                }
                
            }
        }
        
    }

    
    
}

@media(min-width: 1200px) {

    .iphone-seccion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: $menu-padding;
        background-image: url('../img/fondo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: soft-light;
        background-color: rgb(85, 84, 84);
    
        .imagen{
            width: 400px;
            left: 3%;
        }
    
        .titulo{
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 9rem 2rem;
            
            h1{
                font-family: 'Roboto', sans-serif;
                line-height: 40px;
                font-weight: 300;
                font-size: 40px;
                color: #ffffff;
                padding: 1rem 0rem;
            }
    
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 29px;
                color: #ffffff;
                padding: 0rem 0rem 3rem 0rem ;
            }
    
            .boton button:first-child{
                border: 2px solid #11aff1;
                border-radius: 30px;
                font-size: 20px;
                padding: 12px 40px;

                a{
                    color: #11aff1

                }
                a:hover{
                    color: white;
                    
                }
                
            }
            
            .boton button:last-child{
                background: 0 0;
                border: 2px solid #3fb125;
                color: #3fb125;
                border-radius: 30px;
                font-size: 20px;
                padding: 12px 40px;
                a{
                    color: #3fb125;
                }
                a:hover{
                    color: #ffffff;
                }
            }
        }
    
        
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0rem 3rem 1rem 3rem;
        align-items: center;
        
        
    
        div:first-child{
            text-align: center;
            padding: 0rem 0rem 2rem 0rem;
            width: 70%;
            
    
    
            h1{
                font-family: 'Roboto', sans-serif;
                line-height: 40px;
                font-weight: 100;
                font-size: 40px;
                color: #212529;
                padding: 1rem 0rem;
                margin-top: 3rem;
    
                
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 29px;
                color: #212529;
                padding: 0rem 6rem 3rem 6rem ;
                text-align: center;
                
    
    
            }
    
            button{
                background: 0 0;
                border: 2px solid #11aff1;
                color: #11aff1;
                border-radius: 30px;
                font-size: 20px;
                padding: 12px 40px;
                a{
                    color: #11aff1;
                }
                a:hover{
                    color: white;
                }
            }  
            button:hover{
                background-color: #11aff1;;
                
            
            }  
            
        }
    }
    
    .icons-seccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: $menu-padding;
    
        div:first-child{
            display: flex;
            flex-direction: column;
            width: 70%;
    
            h1{
                font-family: 'Roboto', sans-serif;
                line-height: 40px;
                font-weight: 100;
                font-size: 40px;
                color: #212529;
                padding: 1rem 0rem;
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 29px;
                color: #212529;
                padding: 0rem 6rem 3rem 6rem ;
                text-align: center;
            }
        }
    
        div:last-child{
            display: flex;
            justify-content: center;
            padding: 2rem;
    
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: row;
                
                li{
                    padding: 2rem;
                    margin-bottom: 0;
                    i{
                        font-size: 80px;
                        color: #48D3B0;
                        margin-bottom: 20px;
                    }
                    h3{
                        font-family: 'Roboto', sans-serif;
                        font-size: 20px;
                        line-height: 22px;
                        color: #212529
                    }
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 29px;
                        color: #212529;
                        text-align: center;
                        margin-top: 1rem;
                        
                    
                    }
                }
            }
            
        }
    }
    
    .seccion-video{
        padding: $menu-padding;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        
        
    
        div:first-child{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 2rem;
            margin-left: 3rem;
    
            h1{
                font-family: 'Roboto', sans-serif;
                line-height: 40px;
                font-weight: 100;
                font-size: 40px;
                color: #212529;
                padding: 1rem 0rem;
            }
            h3{
                font-family: 'Roboto', sans-serif;
                line-height: 40px;
                font-weight: 100;
                font-size: 20px;
                color: #212529;
                margin-bottom: 1rem;
                
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                color: #212529;
                width: 400px;
                
            }   
        }
        .video{
            display: flex;
            justify-content: center;
            width: 100%;
            video{
                border: 2px solid transparent;
                border-radius: 40px;
            }
            
        }
    }
    .seccion-id{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: $menu-padding;
    
        .icons{
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            ul{
                display: flex;
                justify-content: center;
                flex-direction: column;
    
                li{
                    display: flex;
                    align-items: center;
    
                    span{
                        font-size: 56px;
                        color: #3fb125;
                        font-weight: 100;
                        padding: 1rem;
                        margin-right: 10px;
    
                    }
    
                    h4{
                        margin: 0 0 6px;
                        color: #2a2e2f;
                        font-weight: 400;
                        font-size: 20px;
                        margin-top: 10px;
                    }
    
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.8;
                        color: #828c9c;
                    }
    
    
                   
                }
                
            }
        }
        
    }
    
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: $menu-padding;
        height: 100vh;
        text-align: center;
    
        h1{
            font-size: 40px;
            font-weight: 100;
            line-height: 1.2;
            margin-bottom: 26px;
            font-family:  'Roboto', sans-serif;
            
            
        }
        p{
            width: 60%;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8;
            margin-bottom: 30px;
    
        }
    
        .img{
            display: flex;
            margin: 20px;
    
            img{
                padding: 1rem;
            }
        }
    }
    
}


