@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif; }

* img {
  width: 100%;
  height: auto; }

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: var(--main-color);
  font-size: 1rem; }

main {
  width: 100%;
  height: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

video {
  width: 90%;
  height: auto; }

@media (min-width: 300px) {
  .iphone-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #555454; }
    .iphone-seccion .imagen {
      position: relative;
      width: 90%;
      left: 5%; }
    .iphone-seccion .titulo {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 2rem 2rem;
      justify-content: center;
      text-align: center; }
      .iphone-seccion .titulo h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 120px;
        color: #ffffff;
        padding: 1rem 0rem;
        margin-bottom: 1rem; }
      .iphone-seccion .titulo p {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: 400;
        color: #ffffff;
        padding: 0rem 0rem 3rem 0rem;
        line-height: 70px; }
      .iphone-seccion .titulo .boton button:first-child {
        background: 0 0;
        border: 2px solid #11aff1;
        color: #11aff1;
        border-radius: 30px;
        font-size: 60px;
        padding: 12px 40px;
        margin-right: 5px; }
        .iphone-seccion .titulo .boton button:first-child a {
          color: #11aff1; }
      .iphone-seccion .titulo .boton button:last-child {
        background: 0 0;
        border: 2px solid #3fb125;
        color: #3fb125;
        border-radius: 30px;
        font-size: 60px;
        padding: 12px 40px;
        margin-left: 5px; }
        .iphone-seccion .titulo .boton button:last-child a {
          color: #3fb125; }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 3rem 1rem 3rem;
    align-items: center; }
    .container div:first-child {
      text-align: center;
      padding: 0rem 0rem 2rem 0rem;
      width: 100%; }
      .container div:first-child h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 80px;
        padding: 1rem 0rem;
        margin-bottom: 1rem;
        margin-top: 3rem; }
      .container div:first-child p {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: 400;
        padding: 0rem 4rem 3rem 3rem;
        text-align: center; }
      .container div:first-child button {
        background: 0 0;
        border: 2px solid #11aff1;
        border-radius: 30px;
        font-size: 50px;
        padding: 12px 40px; }
        .container div:first-child button a {
          color: #11aff1; }
        .container div:first-child button a:hover {
          color: white; }
      .container div:first-child button:hover {
        background-color: #11aff1; }
    .container .img {
      width: 70%; }
  .icons-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem; }
    .icons-seccion div:first-child {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .icons-seccion div:first-child h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 80px;
        color: #212529;
        padding: 1rem 0rem;
        margin-bottom: 2rem; }
      .icons-seccion div:first-child p {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: 400;
        color: #212529;
        text-align: center; }
    .icons-seccion div:last-child {
      display: flex;
      justify-content: center;
      padding: 2rem; }
      .icons-seccion div:last-child ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap; }
        .icons-seccion div:last-child ul li {
          padding: 2rem;
          margin-bottom: 0;
          flex: 0 0 350px; }
          .icons-seccion div:last-child ul li i {
            font-size: 400px;
            color: #48D3B0;
            margin-bottom: 20px; }
          .icons-seccion div:last-child ul li h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
            line-height: 22px;
            color: #212529; }
          .icons-seccion div:last-child ul li p {
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
            font-weight: 400;
            color: #212529;
            text-align: center;
            margin-top: 1rem; }
  .seccion-video {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    text-align: center; }
    .seccion-video div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 1rem; }
      .seccion-video div:first-child h1 {
        font-family: 'Roboto', sans-serif;
        line-height: 40px;
        font-weight: 100;
        font-size: 80px;
        color: #212529;
        padding: 1rem 0rem;
        margin-bottom: 1rem; }
      .seccion-video div:first-child h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 50px;
        color: #212529;
        margin-bottom: 1rem; }
      .seccion-video div:first-child p {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: 400;
        color: #212529;
        text-align: center; }
    .seccion-video .video {
      display: flex;
      justify-content: center;
      width: 100%; }
      .seccion-video .video video {
        border: 2px solid transparent;
        border-radius: 40px; }
  .seccion-id {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .seccion-id .icons {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .seccion-id .icons ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 3rem; }
        .seccion-id .icons ul li {
          display: flex;
          align-items: center; }
          .seccion-id .icons ul li span {
            font-size: 80px;
            color: #3fb125;
            font-weight: 100;
            padding: 1rem; }
          .seccion-id .icons ul li h4 {
            margin: 0 0 6px;
            color: #2a2e2f;
            font-weight: 400;
            font-size: 50px;
            margin-top: 10px; }
          .seccion-id .icons ul li p {
            font-size: 30px;
            font-weight: 400;
            line-height: 1.8;
            color: #828c9c; } }

@media (min-width: 1200px) {
  .iphone-seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #555454; }
    .iphone-seccion .imagen {
      width: 400px;
      left: 3%; }
    .iphone-seccion .titulo {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 9rem 2rem; }
      .iphone-seccion .titulo h1 {
        font-family: 'Roboto', sans-serif;
        line-height: 40px;
        font-weight: 300;
        font-size: 40px;
        color: #ffffff;
        padding: 1rem 0rem; }
      .iphone-seccion .titulo p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        color: #ffffff;
        padding: 0rem 0rem 3rem 0rem; }
      .iphone-seccion .titulo .boton button:first-child {
        border: 2px solid #11aff1;
        border-radius: 30px;
        font-size: 20px;
        padding: 12px 40px; }
        .iphone-seccion .titulo .boton button:first-child a {
          color: #11aff1; }
        .iphone-seccion .titulo .boton button:first-child a:hover {
          color: white; }
      .iphone-seccion .titulo .boton button:last-child {
        background: 0 0;
        border: 2px solid #3fb125;
        color: #3fb125;
        border-radius: 30px;
        font-size: 20px;
        padding: 12px 40px; }
        .iphone-seccion .titulo .boton button:last-child a {
          color: #3fb125; }
        .iphone-seccion .titulo .boton button:last-child a:hover {
          color: #ffffff; }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 3rem 1rem 3rem;
    align-items: center; }
    .container div:first-child {
      text-align: center;
      padding: 0rem 0rem 2rem 0rem;
      width: 70%; }
      .container div:first-child h1 {
        font-family: 'Roboto', sans-serif;
        line-height: 40px;
        font-weight: 100;
        font-size: 40px;
        color: #212529;
        padding: 1rem 0rem;
        margin-top: 3rem; }
      .container div:first-child p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        color: #212529;
        padding: 0rem 6rem 3rem 6rem;
        text-align: center; }
      .container div:first-child button {
        background: 0 0;
        border: 2px solid #11aff1;
        color: #11aff1;
        border-radius: 30px;
        font-size: 20px;
        padding: 12px 40px; }
        .container div:first-child button a {
          color: #11aff1; }
        .container div:first-child button a:hover {
          color: white; }
      .container div:first-child button:hover {
        background-color: #11aff1; }
  .icons-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem; }
    .icons-seccion div:first-child {
      display: flex;
      flex-direction: column;
      width: 70%; }
      .icons-seccion div:first-child h1 {
        font-family: 'Roboto', sans-serif;
        line-height: 40px;
        font-weight: 100;
        font-size: 40px;
        color: #212529;
        padding: 1rem 0rem; }
      .icons-seccion div:first-child p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        color: #212529;
        padding: 0rem 6rem 3rem 6rem;
        text-align: center; }
    .icons-seccion div:last-child {
      display: flex;
      justify-content: center;
      padding: 2rem; }
      .icons-seccion div:last-child ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row; }
        .icons-seccion div:last-child ul li {
          padding: 2rem;
          margin-bottom: 0; }
          .icons-seccion div:last-child ul li i {
            font-size: 80px;
            color: #48D3B0;
            margin-bottom: 20px; }
          .icons-seccion div:last-child ul li h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            line-height: 22px;
            color: #212529; }
          .icons-seccion div:last-child ul li p {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 29px;
            color: #212529;
            text-align: center;
            margin-top: 1rem; }
  .seccion-video {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%; }
    .seccion-video div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 2rem;
      margin-left: 3rem; }
      .seccion-video div:first-child h1 {
        font-family: 'Roboto', sans-serif;
        line-height: 40px;
        font-weight: 100;
        font-size: 40px;
        color: #212529;
        padding: 1rem 0rem; }
      .seccion-video div:first-child h3 {
        font-family: 'Roboto', sans-serif;
        line-height: 40px;
        font-weight: 100;
        font-size: 20px;
        color: #212529;
        margin-bottom: 1rem; }
      .seccion-video div:first-child p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #212529;
        width: 400px; }
    .seccion-video .video {
      display: flex;
      justify-content: center;
      width: 100%; }
      .seccion-video .video video {
        border: 2px solid transparent;
        border-radius: 40px; }
  .seccion-id {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem; }
    .seccion-id .icons {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .seccion-id .icons ul {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .seccion-id .icons ul li {
          display: flex;
          align-items: center; }
          .seccion-id .icons ul li span {
            font-size: 56px;
            color: #3fb125;
            font-weight: 100;
            padding: 1rem;
            margin-right: 10px; }
          .seccion-id .icons ul li h4 {
            margin: 0 0 6px;
            color: #2a2e2f;
            font-weight: 400;
            font-size: 20px;
            margin-top: 10px; }
          .seccion-id .icons ul li p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8;
            color: #828c9c; }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    height: 100vh;
    text-align: center; }
    .logo h1 {
      font-size: 40px;
      font-weight: 100;
      line-height: 1.2;
      margin-bottom: 26px;
      font-family: 'Roboto', sans-serif; }
    .logo p {
      width: 60%;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: 30px; }
    .logo .img {
      display: flex;
      margin: 20px; }
      .logo .img img {
        padding: 1rem; } }
